name: Windows-11-VM-Tailscale
on: 
  workflow_dispatch:
    inputs:
      authkey:
        description: 'Nhập Tailscale Auth Key'
        required: true

jobs:
  vps:
    runs-on: windows-latest
    steps:
      - name: Tải và cài đặt Tailscale
        run: |
          Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -OutFile tailscale-setup.exe
          Start-Process -FilePath .\tailscale-setup.exe -ArgumentList "/S" -Wait
          
      - name: Kết nối Tailscale
        run: |
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey ${{ github.event.inputs.authkey }}
          
      - name: Kích hoạt Remote Desktop
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          
      - name: Đổi mật khẩu máy ảo (Để login RDP)
        run: |
          net user runneradmin YourPassword123!
          
      - name: Giữ máy ảo hoạt động
        run: |
          $n = 360
          do {
            $ip = & "C:\Program Files\Tailscale\tailscale.exe" ip -4
            Write-Host "IP Tailscale của bạn là: $ip"
            Write-Host "Còn lại: $n phút"
            Start-Sleep -Seconds 60
            $n--
          } while ($n -gt 0)
          
