name: Windows-11-VM-Tailscale
on: 
  workflow_dispatch:
    inputs:
      authkey:
        description: 'Enter Tailscale Auth Key'
        required: true

jobs:
  vps:
    runs-on: windows-latest
    steps:
      - name: Download and Install Tailscale
        run: |
          Write-Host "Downloading Tailscale..."
          Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -OutFile tailscale-setup.exe
          Write-Host "Installing..."
          Start-Process -FilePath .\tailscale-setup.exe -ArgumentList "/S" -Wait
          
      - name: Connect to Tailscale
        run: |
          Write-Host "Connecting to Tailnet..."
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey ${{ github.event.inputs.authkey }}
          
      - name: Configure User and RDP
        run: |
          Write-Host "Setting up RDP credentials..."
          $User = "runneradmin"
          $Pass = "KiuVip2026!"
          net user $User $Pass
          
          # Enable Remote Desktop and Firewall Rules
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          
          Write-Host "------------------------------------------"
          Write-Host "RDP USERNAME: $User"
          Write-Host "RDP PASSWORD: $Pass"
          Write-Host "------------------------------------------"
          
      - name: Keep Alive (6 Hours)
        run: |
          $n = 360
          do {
            $ip = & "C:\Program Files\Tailscale\tailscale.exe" ip -4
            Write-Host "Tailscale IP: $ip"
            Write-Host "Time Remaining: $n minutes"
            Start-Sleep -Seconds 60
            $n--
          } while ($n -gt 0)
          
